@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2 {
    animation-delay: 2s;
  }
  .animation-delay-4 {
    animation-delay: 4s;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply font-poppins;
  }
}
